<div ng-if="uservm.isAutorized">
  <div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey lighten-5 z-depth-1">
      <div class="row valign-wrapper">
        <div class="col s2">
          <img src="images\if_user_male4_172628.png" alt="" class="circle responsive-img">
        </div>
        <div class="col s8">
          <h4 class="black-text">{{uservm.clientEmail}}</h4>
          <span class="black-text">
            Баланс: {{uservm.clientBallance}} Галактических кредитов
          </span>
        </div>
        <div class="col s2">
          <button ng-click="uservm.addBallance">Пополнить</button>
          <button class="logOut" ng-click="uservm.logOut">Выйти</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-if="!uservm.isAutorized">
  <login></login>
</div>