<h3>Ваши заказы</h3>
<ul class="collection">
    <li class="collection-item" data-ng-repeat="dish in userOrderedDishes">
        <div class="userpage__list-item clearfix">
            <div class="userpage__list-item-name">{{dish.dishName}}</div>
            <span class="secondary-content">{{dish.status}}</span>
        </div>
        <div class="userpage__list-item clearfix" data-ng-if="dish.status == 'In trouble'">
            <button class="waves-effect waves-light btn" data-ng-click="orderAgain(dish)">Заказать еще</button>
            <button class="waves-effect waves-light btn" data-ng-click="cancelOrder(dish, $index)">Отмена</button>
        </div>
    </li>
</ul>
<button class="waves-effect waves-light btn" data-ng-click="showDishes()">Добавить блюдо</button>